
# dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js build output
.next
out

# environment
.env
.env.local
.env.production
.env.development

# logs
logs
*.log

# runtime
.DS_Store

# prisma (❗ важно НЕ игнорировать schema)
# prisma/  ← НЕ добавляем сюда
# *.prisma ← НЕ добавляем сюда

# docker
docker-compose.override.yml

# git
.git
.gitignore

# uploads (локальные файлы, если используешь volume)
uploads

# vscode
.vscode

# testing
coverage